# Visual Studio Code settings
.vscode/

# Ignore Gradle project-specific cache directory
.gradle/
*.toml

# Ignore Gradle build output directory
build/
test/
org/

# Binary and output
bin/

# Documentation
DESCRIPTION.md
